<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	<ul class="navbar-nav ms-auto">
		{{ $currentNode := . }}
		{{ range .Site.Menus.main }}
			{{ if .HasChildren }}
			<li class="nav-item dropdown{{if $currentNode.HasMenuCurrent "main" . }} active{{end}}">
				<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">{{ .Name }}<span class="caret"></span></a>
				<div class="dropdown-menu" aria-labelledby="dropdown01">
					{{ range .Children }}
					<a class="dropdown-item {{if $currentNode.IsMenuCurrent "main" . }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
					{{ end }}
				</div>
			{{else}}
			<li class="nav-item {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}active{{end}}">
				<a class="nav-link" href="{{.URL}}">
					{{ .Pre }}
					<span>{{ .Name }}</span>
				</a>
			{{end}}
			</li>
		{{end}}

		<li>
			<a href="https://cernandsocietyfoundation.cern/projects/kicad" class="btn btn-primary btn-block blue-nav-item" data-bs-toggle="modal" data-bs-target="#donate-modal">Donate</a>
		</li>
	</ul>
</div>
<!-- /.navbar-collapse -->
